/* 

tr td,
tr th
{
  cursor: pointer;
}

.select-wrapper .caret{
  fill: white;
} */

.customContainer {
  padding: 15px;
}

.square {
	position: relative;
}

.square:before {
	content: "";
	float: left;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}

.fit-image {
  width: 100%;
  object-fit: cover;
  overflow: hid;
}